/*---[TYPOGRAPHY]---*/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  font-size: 20px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

p {
  font-family: "Hoefler Text", serif;
  line-height: 2.2rem;
  color: #333;
}

h1 {
  font-size: 3.2rem;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 1.2rem;
  line-height: 2rem;
}
h4.title {
  font-size: 1.6rem;
  line-height: 2rem;
}

h5 {
  font-size: 0.8rem;
  line-height: 1rem;
}

h5.monospace{
  margin-bottom: 8px;
}
a {
  color: #000;
  text-decoration: none;
  box-shadow: inset 0 -0.6em #cdeef2;
}

a:hover {
  box-shadow: inset 0 -0.6em #b4dde3;
}

.sans {
  font-family: "Avenir Next", "Helvetica", sans-serif;
  font-weight: 400;
}

h3.sans{
      margin-top: 6px;
}
.sans-thicc {
  font-family: "Avenir Next", "Helvetica", sans-serif;
  font-weight: 700;
}

.serif {
  font-family: "Hoefler Text", serif;
  font-weight: 400;
}

.monospace {
  font-family: "Menlo", "Monaco", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: red;
  letter-spacing: 0.2rem;
}

/*---[NAVIGATION]---*/

.nav {
  width: 100vw;
  height: 2rem;
  background-color: #000;
  position: fixed;
  z-index: 2;
}

.nav a {
  font-family: "Menlo", "Monaco", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  color: white;
  box-shadow: none;
}

.nav li {
  display: inline;
  margin: 0;
}

.nav ul {
  margin: 0.5rem 0 0 0;
  padding-left: 1rem;
}

/*---[INDEX] intro----*/

.intro img {
  object-fit: cover;
  height: 60vh;
  width: 100vw;
  margin-top: 2rem;
}


.bio {
  padding: 2vw;
}

/*---[INDEX] intro breakpoints---*/
@media (min-width: 600px) {
  .intro {
    display: grid;
    grid-template-columns: 50vw 40vw;
    grid-template-rows: 100vh;
    align-items: center;
  }
  .intro img {
    width: 100%;
    height: 100%;
    margin-top: 0rem;
  }
  .bio {
    width: 100%;
  }
}

/*---[INDEX] project---*/

.portfolio {
  clear: both;
}

.project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 10vh;
}

.project-image img,
.project-description {
  width: 100%;
}

.project-description {
  background-color: #fff;
}

.project-description h2,
.project-description h5,
p {
  max-width: 100%;
  padding: 0 1rem;
}

.project-text-link {
  font-style: italic;
}

.work-intro {
    display: flex;
    flex-flow: column;
    background-color: #000;
    color: #fff;
    align-items: center;
    padding: 34px 10px;
}
@media (min-width: 600px) {
  .work-intro {
      display: flex;
      flex-flow: column;
      background-color: #000;
      color: #fff;
      align-items: center;
      padding: 50px 10px;
  }
}
.work-intro-text {
    max-width: 1400px;
    margin: 0 auto;
}

/*---[INDEX] project breakpoints ---*/

@media (min-width: 600px) {
  .project {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
    align-items: center;
    margin-bottom: 0;
    background-color: #fafaff;
  }

  .project-image {
    grid-column: 2 / 14;
    grid-row: 1 / 11;
    z-index: 0;
  }

  .project-image img {
    height: 90vh;
    object-fit: cover;
  }

  .project-description {
    grid-column: 11 / 15;
    grid-row: 1 / 11;
    z-index: 1;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 32, 0.8) 10px 10px 90px -30px;
  }
}

/*---[CASE STUDIES]---*/
.headline-image img {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  margin-bottom: 1rem;
}

.case-study {
  padding: 0 4vw;
  max-width: 70rem;
}

.case-study p {
  max-width: 44rem;
  padding-top: 1rem;
}

.case-study ul {
  max-width: 40rem;
  padding-top: 1rem;
}

.case-study h2 {
  padding-top: 1rem;
  margin: 2rem auto 1rem auto;
}

.case-study li {
  font-family: "Hoefler Text", serif;
  font-weight: 400;
  line-height: 2rem;
  padding-bottom: 1rem;
  color: #444;
}

.case-study img {
  width: 100%;
  margin: 0 auto;
  margin: 4rem 0rem;
  box-shadow: rgba(0, 0, 32, 0.8) 10px 10px 90px -30px;
}

.case-study video {
  width: 100%;
  margin: 0 auto;
  padding-top: 4rem;
  box-shadow: rgba(0, 0, 32, 0.8) 10px 10px 90px -30px;
}

/*---[CASE STUDIES] breakpoints---*/

@media (min-width: 600px) {
  .headline-image img {
    height: 70vh;
  }
  h3.sans {
        font-size: 1.4rem;
        line-height: 2.4rem;
  }
}

/*---Animation Effects---*/

@keyframes bump-up {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.bump-up-element {
  animation: bump-up 0.75s;
}

.hidden {
  opacity: 0.3;
}

.initial-hidden {
  opacity: 0.3;
}
footer {
  padding: 50px 10px;
  background-color: lightblue;
}
footer .footer__icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer__icons a {
  margin-right: 20px;
  box-shadow: none;
}
footer .footer__icons a:hover {
  color: red;
}


.intromain{
  max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 20px;
}
.intromain img{
max-width: 100%;
    height: auto;
}
.bio h4 {
    margin-top: 0px;
    margin-bottom: 22px;
}
@media (max-width: 720px) {

.intromain{
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-flow: column;
    padding: 20px;
    gap: 20px;
}
.intromain img{
    height: 225px;
    border-radius: 50%;
}
.bio h4 {
    margin-top: 0px;
    margin-bottom: 12px;
    font-size: 1.2rem;
}
}



.work__groups {
  font-family: "Avenir Next", "Helvetica", sans-serif;
  
      background-color: #070709;
    color: #fff;
    padding: 10px;
}
.work__groups .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
            font-weight: 400;

}
.work__groups h2{
      font-size: 28px;
    margin-top: 24px;
    color: #fff;
        font-weight: 400;
text-align: center;
    margin-bottom: 0px;
}
.work__groups h4{
      font-size: 18px;
    padding-bottom: 30px;
text-align: center;
    color: #fff;
        font-weight: 400;
    margin-bottom: 5px;
    margin-top: 5px;
}
.posts__list {
  display: flex;
    flex-flow: wrap;
        justify-content: space-between;
}
a.posts__single {
  background-color: #141518;
    border: 1px solid transparent;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 20px;
    position: relative;
    top: 0;
    transition: all .5s ease;
    width: 100%;
}

@media (min-width: 600px) {
    .posts__single {
           width: 32%;
        min-width: 32%;
        max-width: 32%;
    }
}
h4.other__proj {
    text-align: center;
    font-size: 23px;
      font-family: "Avenir Next", "Helvetica", sans-serif;
    margin-bottom: 10px;
    font-weight: 400;
}
a.posts__single {
    position: relative;
    text-decoration: none;
    z-index: 1;
        box-shadow: none;
    color: white;
}

.border-radius {
    border-radius: 6px;
}
.hover-opacity-90 {
    transition: opacity .4s;
}
.responsive {
    height: auto;
    max-width: 100%;
}
img.responsive {
    border-style: none;
}
.posts__single:before {
    background-image: radial-gradient(44% 24% at 50% 0, #fbf9f41a, #fbf9f41f 30%, transparent);
    content: "";
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: opacity .5s;
}
.responsive {
}
.border-radius {
}
.hover-opacity-90 {
}
.flex.flex-1.flex-column {
    display: flex;
        flex-direction: column !important;
    flex: 1;
}
.flex.flex-1.flex-column h3{
font-size: 24px;
    margin-bottom: 12px;
    font-weight: 400;
    margin-top: 18px;
}
.posts__single p {
  font-family: "Avenir Next", "Helvetica", sans-serif;
  font-size: 16px;
    opacity: .8;
    flex: 1;
        margin: 0px;
    padding-bottom: 0;
    padding: 0px;
    color: white;
    font-weight: 400;
    line-height: 1.4;
}
a.posts__single:hover {
    border-color: #16181d;
    top: -14px;
}
.flex.align-center{
  font-size: 16px;
  font-style:italic;
}
a.posts__single:hover:before {
    opacity: 1;
}
.divider {
    background: #262d40;
    height: 1px;
    margin: 10px 0;
    width: 100%;
}
.header__img{
  height: 200px;
}
.header__img:hover{
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: headShake;
    animation-name: headShake;
        animation-duration:2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.header__img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}
.divider {
}
.space-between {
}
.align-center {
}
.website__link {
    color: #ff0000;
    font-style: italic;
    font-size: 16px;
    padding-top: 2px;
    line-height: normal;
}

.flex.space-between {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-flow: wrap;
    align-items: center;
}
.posts__single:hover .website__link {
    text-decoration: underline;
}