



 @charset "utf-8";
html {
    margin-top: 0px!important;
}

.post-content h1 {
    margin-top: 10px!important;
}

.navbar-default {
    background-color: #FFFFFF;
}

.navbar-header {
    width: 100%;
    height: 85px;
}

.container-fluid .right-banner {}

#bs-example-navbar-collapse-1 .navbar-nav .dropdown:hover>.dropdown-menu {
    display: block;
}

#sidebar-shop .row {
    margin: 0px!important;
}

#sidebar-shop {
    padding-left: 0px!important;
}

#header-top {
    margin-bottom: 0px;
}

#searchform,
#social-icons-top {
    margin-right: -3px!important;
}

.breadcrums {
    list-style: outside none none;
    border-bottom: 4px double #dddddd;
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-right: 20px;
}

.marginzero {
    margin: 0px;
}

.breadcrums li {
    display: block;
    position: relative;
    float: left;
}

.breadcrums li a {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    color: #7f7f7f;
    padding-right: 20px;
}

.breadcrums li a:hover {
    color: #a2af71;
}

.breadcrums li a.sep {
    text-decoration: none;
}

.navbar-form .form-control {
    height: 40px;
    background: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #333333;
}

.navbar-form .input-group .btn {
    padding: 9px 12px;
    background: #f2f2f2;
}

.navbar-form {
    margin-top: 0px;
    padding-top: 30px;
}

#advancedsearch {
    background: none repeat scroll 0% 0% white;
    position: absolute;
    z-index: 999;
    top: 70px;
    right: 45px;
    width: 298px;
    border: 1px solid #cccccc;
    display: none;
}

#advancedsearch ul {
    list-style: none;
    padding: 20px;
}

#advancedsearch ul li {
    padding-bottom: 10px;
}

#advancedsearch ul li {
    color: #000000;
}

#advancedsearch ul li a:hover {
    color: #a2af71;
}

#advancedsearch ul li a {
    color: #000000;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background: #FFFFFF;
}

.navbar-nav>li>.dropdown-menu h4 {
    color: #000000;
}

.navbar-nav>li>.dropdown-menu {
    width: 450px;
}

.navbar-nav>li>.dropdown-menu a {
    color: #000000;
}

.navbar-nav>li>a.gardenistalink {
    color: #FF9200!important;
}

.navbar-nav>li>a {
    background: #FFFFFF;
    color: #000000!important;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-left: 0px;
    padding-right: 40px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    font-weight: bold;
    background: #FFFFFF;
}

#bs-example-navbar-collapse-1 {
    margin: 0px;
    padding: 0px;
    margin-left: 0;
    overflow: hidden;
}

#social-icons-top {
    margin-top: 10px;
}

#social-icons-top a {
    padding: 0px;
    margin: 0px;
    margin-right: 20px;
}

#sidebar-home .col-ad img {
    padding-bottom: 20px;
    color: #666666;
}

#sidebar-home .col-ad-1 {
    padding-left: 0px;
    margin-bottom: 80px;
    float: left;
    width: 100%;
}

#sidebar-home .col-ad-1 p {
    margin-top: 0px;
}

#sidebar-home .col-ad-1 .link {
    height: 50px;
    width: 100%;
/*    background-color: #a2af71;
*/   background-color: #FF9200;
    text-align: center;
    font-size: 16px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gudea', sans-serif;
    vertical-align: middle;
    text-decoration: none;
}

#sidebar-home .col-ad-1 .link a {
    color: white;
}

#sidebar-home .most-shared {
    width: 300px;
    height: 200px;
}

#sidebar-home .col-ad-1 .editors .para {
    color: #000000;
    font-weight: bold;
    font-family: 'Gudea', sans-serif;
    font-size: 12px;
    padding: 0 50px;
}

#sidebar-home .col-ad-1 .editors h4 {
    margin-top: 30px;
    font-family: 'Gudea', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #a2af71;
    text-transform: uppercase;
    float: left;
    width: 100%;
}

#sidebar-home .col-ad-1 .editors h4 a,
#sidebar-home .col-ad-1 .editors h4 a:hover {
    color: #a2af71;
}

#sidebar-home .col-ad-1 .editors img {
    padding: 3px 3px;
}

#sidebar-home .editors {
    width: 100%;
    border: 1px solid #999999;
    text-align: center;
    background-color: #FFFFFF;
}

#sidebar-home .col-ad-1 .firm a {
    color: #000000;
    margin-top: 0px;
}

#sidebar-home .col-ad-1 .join {
    text-align: center;
}

#sidebar-home .col-ad-1 .col-sm-4 .link {
    background-color: rgba(35, 132, 5, 0.75);
    text-align: center;
    font-size: medium;
    line-height: 45px;
}

#banner125 img {
    margin-bottom: 15px;
}

#banner125 .col-md-6 {
    padding-right: 0px;
}

#banner125 {
    margin-bottom: 60px!important;
}

#sidebar-home .col-ad-1 .partners {
    margin-bottom: 20px;
}

#sidebar-home .col-ad-1 .partners h3 {
    font-family: 'Gudea', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

#sidebar-home .col-ad-1 .partners .para {
    color: #000000;
    font-family: 'Gudea', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    margin-top: 5px;
    line-height: 14px;
}

#sidebar-home .col-ad-1 .partners .brand {
    color: #a2af71;
    font-family: 'Gudea', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
}

#partners-block {
    margin-bottom: 60px;
}

#sidebar-home #editors {
    font-size: 24px;
    color: #000000;
    font-family: 'Gudea', sans-serif;
}

#sidebar-home #editors h2 {
    margin-top: 15px;
    margin-bottom: 40px;
}

#join .heading {
    color: #000000;
    font-family: 'Gudea', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 15px;
}

#join .heading a {
    color: #000000;
    font-family: 'Gudea', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#join input {
    width: 90%;
    font-family: 'Gudea', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    background: #eaeaea;
    border: 2px solid #000000;
}

#firmday .heading {
    color: #000000;
    font-family: 'Gudea', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 15px;
}

#firmday .para {
    color:  #FF9200;
    font-family: 'Gudea', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

#firmday a {
    color: #000000;
    font-family: 'Gudea', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#sidefooterlinks {
    color: #000000;
    font-family: 'Gudea', sans-serif;
    font-size: 12px;
    font-weight: bold;
}

#sidefooterlinks div {
    width: 100%;
}

#sidefooterlinks .sicons {
    margin-top: 10px;
}

#sidefooterlinks .sicons a {
    margin-right: 20px;
}

#sidefooterlinks a,
#sidefooterlinks a:hover {
    color: #000000;
}

#sidebar-home .calendar h3 {
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Gudea', sans-serif;
    padding: 15px 0;
    margin: 0px;
    font-weight: bold;
}

#wp-calendar #prev {
    padding-right: 20px;
}

#wp-calendar #next {
    padding-left: 20px;
}

.calendargrey {
    color: #6E6E70!important;
}

#sidebar-home .calendar #prev a {
    float: left;
    margin-left: 10px;
}

#sidebar-home .calendar #next a {
    float: right;
    margin-right: 10px;
}

#sidebar-home .calendar {
    background: #bbc498;
}

#sidebar-home .calendar #wp-calendar {
    width: 100%;
}

.calendardayhasposts {
    color: #FFFFFF!important;
    font-weight: bold;
}

#wp-calendar #today {
    border: 3px solid #FDFDFD!important;
}

#sidebar-home .calendar #wp-calendar caption {
    padding: 10px 0;
    text-align: center;
    background: #fdfdfd;
    color: #494949;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gudea', sans-serif;
}

#sidebar-home .calendar #wp-calendar thead tr th {
    background: #d3d7b9;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Gudea', sans-serif;
    color: #FFFFFF;
    border-right: 1px solid #d7dabf;
}

#sidebar-home .calendar #wp-calendar tbody tr td,
#sidebar-home .calendar #wp-calendar tbody tr td a,
#sidebar-home .calendar #wp-calendar tfoot tr td a {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    font-family: 'Gudea', sans-serif;
}

#sidebar-home .calendar #wp-calendar tbody tr td {
    padding: 5px 0;
    border-bottom: 1px solid #d7dabf;
    border-right: 1px solid #d7dabf;
}

#colorbox.list.color-block li {
    background-clip: padding-box;
    background-image: url("../images/remodelista-spritesheet-generic.png");
    background-repeat: no-repeat;
    border-radius: 4px;
    float: left;
    height: 22px!important;
    margin: 0 4px 5px 0;
    width: 34px!important;
}

#colorbox.list.color-block li a {
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    display: block;
    float: left;
    font-size: smaller;
    height: 22px;
    text-align: center;
    width: 34px;
}

#colorbox.list.color-block li a:hover {
    border-color: #222!important;
}

#colorbox.list.color-block li a span.glyph {
    margin: 4px 0 0;
}

#colorbox.list.color-block li.selected span.glyph {
    background-image: url("../images/remodelista-spritesheet-generic.png");
    background-position: -224px -611px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 13px;
    overflow: hidden;
    width: 13px;
}

#colorbox.list.color-block li.color-black {
    background: #000 none repeat scroll 0 0;
}

#colorbox.list.color-block li.color-white {
    background: #fff none repeat scroll 0 0;
}

#colorbox.list.color-block li.color-brown {
    background: #691f01 none repeat scroll 0 0;
}

#colorbox.list.color-block li.color-yellow {
    background: #fc0 none repeat scroll 0 0;
}

#colorbox.list.color-block li.color-blue {
    background: #39c none repeat scroll 0 0;
}

#colorbox.list.color-block li.color-cream {
    background: #ffe4b5 none repeat scroll 0 0;
}

#colorbox.list.color-block li.color-gray {
    background: #999 none repeat scroll 0 0;
}

#colorbox.list.color-block li.color-green {
    background: #42b842 none repeat scroll 0 0;
}

#colorbox.list.color-block li.color-orange {
    background: #f90 none repeat scroll 0 0;
}

#colorbox.list.color-block li.color-pink {
    background: #ee3a8c none repeat scroll 0 0;
}

#colorbox.list.color-block li.color-purple {
    background: #551a8b none repeat scroll 0 0;
}

#colorbox.list.color-block li.color-red {
    background: #c00 none repeat scroll 0 0;
}

#colorbox.list.color-block li.color-clear {
    background-position: -38px -969px;
    height: 22px;
    width: 34px;
}

#colorbox.list.color-block li.color-natural {
    background-position: -142px -932px;
    height: 22px;
    width: 34px;
}

#colorbox.list.color-block li.color-gold {
    background-position: 0 -969px;
    height: 22px;
    width: 34px;
}

#colorbox.list.color-block li.color-silver {
    background-position: -144px -906px;
    height: 22px;
    width: 34px;
}

#colorbox.list.color-block li.color-dark-wood {
    background-position: 0 -995px;
    height: 22px;
    width: 34px;
}

#colorbox.list.color-block li.color-light-wood {
    background-position: -218px -943px;
    height: 22px;
    width: 34px;
}

#colorbox.list.color-block li.color-multi-colored {
    background-position: -180px -943px;
    height: 22px;
    width: 34px;
}

.label {
    font-weight: normal;
}

#sidebar-shop .shopsecondlvlcat {
    padding: 10px 0 0 10px!important;
}

#sidebar-shop .featured_categories a.active .label {
    color: #a2af71!important;
}

#sidebar-shop select {
    width: 100%;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium;
    height: 33px;
    padding: 0 5px;
}

#sidebar-shop .featured_categories ul {
    padding-left: 0px;
    list-style: none;
    margin-left: 15px;
}

#sidebar-shop .featured_categories ul li {
    padding-bottom: 5px;
}

#sidebar-shop .featured_categories ul li .label {
    color: #000000;
    padding: 0px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    white-space: normal;
}

#sidebar-shop .featured_categories a {
    color: #777777;
}

#sidebar-shop .featured_categories a.active {
    color: #777777;
}

#sidebar-shop h4 {
    color: #000000;
}

#sidebar-shop .featured_categories h4 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #a2af71;
    text-transform: uppercase;
}

.huge-it-share-buttons {
    float: left;
    width: 100%;
}

.huge-it-share-buttons h3 {
    display: none!important;
}

html.opacity .product a div.rollover {
    opacity: 0;
}

html.opacity .product a:hover div.rollover {
    opacity: 1;
}

html.no-opacity .product a div.rollover {
    padding-left: 999em;
}

html.no-opacity .product a:hover div.rollover {
    background-color: #694;
    padding-left: 10px;
}

html.csstransitions .product div.rollover {
    transition: opacity 0.2s ease-in-out 0s;
}

.product div.rollover {
    color: #FFFFFF;
}

html.textshadow .product div.rollover {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.inspirationcontent .product div.rollover {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #fff;
    height: 115px!important;
    left: 0;
    line-height: 1.4em;
    padding: 8px 10px;
    position: relative;
    top: -115px!important;
}

.inspirationcontent .product .productimg {
    height: 115px!important;
    min-height: 115px!important;
}

.product div.rollover {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #fff;
    height: 115px;
    left: 0;
    line-height: 1.4em;
    padding: 9px 10px;
    position: relative;
    top: -117px;
}

.product figcaption {
    left: 0;
    line-height: 1.4em;
    margin: 0.5em 0 0;
    position: relative;
    top: -121px;
}

.product .author {
    color: #FFFFFF;
}

.product .price {
    color: #a2af71;
}

.product .productimg {
    height: 115px;
    min-height: 115px;
}

.issuepage .product .productimg {
    height: 125px!important;
    min-height: 125px!important;
}

.featured_categories .featured {
    font-size: 24px;
    font-family: 'Crimson Text', sans-serif;
    color: #000000;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    margin: 0px;
    padding: 20px 0 20px 0;
}

#shop_product_list {
    width: 100%;
    float: left;
    margin-top: 20px;
}

#shop_product_list .product {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 24%;
}

#shop_product_list .product:hover {
    background: #e3e7d4;
}

#shop_product_list .product a {
    color: #000000;
}

#shop_product_list .clearproduct {
    clear: left;
}

#shop_product_list .product:nth-child(4n+1) {
    clear: left
}

.singleproduct .col-md-5 {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.single-post .su-custom-gallery-slide img {
    margin: 0 auto;
    display: block;
}

.single-post .entry-content li {
    list-style: none;
}

.single-post .issue_name {
    font-family: 'Open Sans', sans-serif;
}

.single-post .issue_name .big {
    font-size: 16px;
    font-weight: bolder;
    color: #a2af71;
}

.single-post .issue_name .small {
    font-size: 14px;
    font-weight: bolder;
    color: #a2af71;
}

.single-post .sidebar-shop {
    padding-top: 12px;
}

.single-post .su-custom-gallery {
    padding-bottom: 20px;
    padding-top: 20px;
}

#sidebar-home .su-custom-gallery {
    padding-bottom: 20px;
    padding-top: 0px!important;
}

.single-post .entry-content ul {
    margin: 0 0 0 10px;
}

.nobackground:before {
    content: ''!important;
}

.single-post .entry-content li:before {
    content: '\2022';
    display: block;
    position: relative;
    max-width: 0;
    max-height: 0;
    left: -10px;
    top: 0;
    color: #a2af71;
    font-size: 20px;
}

#maincontent .main-title {
    font-size: 36px;
    font-family: 'Crimson Text', sans-serif;
    margin: 0px;
}

.singleproductattributesvalue {
    color: #a2af71;
}

.singleproductcontent {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.mentionedin {
    font-size: 24px;
    font-family: 'Gudea', sans-serif;
    padding: 5px 0;
    letter-spacing: 5px;
}

#pubexchange_below .pe-wrapper .pe-title {
    font-size: 24px!important;
    font-family: 'Gudea', sans-serif!important;
    color: #000000!important;
    letter-spacing: 5px;
    padding-top: 17px;
    padding-bottom: 31px;
}

.buybutton {
    background: #a2af71;
    border-radius: 3px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    padding: 15px;
}

.buybutton:hover {
    color: #FFFFFF;
}

h4 {
    color: #CCCC66;
}

h5 {
    color: #000000;
    font-weight: bold;
    margin-bottom: 0px;
}

h6 {
    color: #000000;
    font-weight: bold;
}

h2 {
    color: #000000;
    font-weight: bold;
}

.homebg {
    background-color: #f5f5f5;
}

.container-fluid {
    padding-bottom: 60px;
}

.navbar-default .navbar-toggle {
    margin-top: 19px;
}

.container .wrapper {
    width: 100%;
}

.container .main-wrapper .banner img {
    padding: 20px 65px 20px 65px;
}

.container .col-md-8 .banner {
    padding-bottom: 10px;
}

#tab-a,
#tab-b,
#tab-c {
    display: none;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.tab-menu {
    overflow: hidden;
}

.tab-menu li {
    float: left;
    text-align: center;
    max-width: 33%;
}

.tab-menu li a {
    background: #eeeeee none repeat scroll 0 0;
    color: #ababab;
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 10px;
    border: solid 1px #ddd;
}

.s-right>div.tabs {
    border-radius: 0;
}

.tab-menu li a {
    border-right: 0;
    line-height: 15px;
}

.tab-menu li:last-child a {
    border-right: solid 1px #ddd;
    border-radius: 0 5px 0 0;
}

.tab-menu li:first-child a {
    border-radius: 5px 0 0 0;
}

.tab-menu li a.active {
    background: #a2af71;
    color: #fff;
}

#tab-second {
    border: solid 1px #ddd;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    border-top: 0;
    width: 99.5%;
}

#tab-second .submenu {
    overflow: hidden;
}

#tab-second .submenu img {
    float: left;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.main-wrapper .horizontal img {
    margin: 0 auto;
    width: 860;
    height: 300;
}

.main-wrapper .horizontal .title,
.main-wrapper .vertical .title {
    color: #000000;
    text-decoration: none;
}

.main-wrapper .vertical .post-content {
    width: 50%;
    padding-left: 25px;
    vertical-align: middle;
}

.main-wrapper .vertical .post-content h1,
.main-wrapper .horizontal .post-content h1 {
    color: #000000;
    line-height: 50px;
    font-weight: bold;
    font-family: 'Crimson Text', sans-serif;
}

.main-wrapper .vertical .post-content .publishedby,
.main-wrapper .horizontal .post-content .publishedby {
    color: #828282;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Gudea', sans-serif;
}

.main-wrapper .vertical .post-content .publishedat,
.main-wrapper .horizontal .post-content .publishedat {
    color: #bababa;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Gudea', sans-serif;
}

.main-wrapper .vertical .post-content .readmore a,
.main-wrapper .horizontal .post-content .readmore a {
    color: #FF9200;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Gudea', sans-serif;
}

.main-wrapper .vertical {
    display: inline-table;
    align-items: center;
}

.horizontal .row {
    margin: 0px;
}

.horizontal .post-content p {
    margin: 0px;
}

.col-md-10 {
    width: 72.9%;
    padding-left: 0;
    padding-right: 0;
}

#maincontent h4 {
    color: #A2AF71;
}

.box {
    background: #FFF;
    margin-top: 40px!important;
    margin-bottom: 20px;
}

.horizontal .post-content {
    padding: 25px;
}

a#inifiniteLoader {
    visibility: hidden;
}

.search-results .page-title {
    font-family: 'Crimson Text', sans-serif;
    font-weight: 50px;
    line-height: 48px;
    font-weight: bold;
    margin-top: 0px;
}

.site-main .entry-header .entry-title {
    font-family: 'Crimson Text', sans-serif;
    font-weight: 50px;
    line-height: 48px;
    font-weight: bold;
    /*margin-top: 0px;*/
    margin-top: 15px;
}

.site-main .date {
    color: #404040;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.site-main .by {
    font-weight: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.site-main .entry-content {
    font-weight: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}

.site-main .entry-content a:hover {
    color: #a2af71;
}

.bold {
    font-weight: bold;
}

.black {
    color: #000000;
}

.green {
    color: #a2af71;
}

.capitalize {
    text-transform: capitalize;
}

#shop_product_list .box figure {
    position: relative;
}

.galleryphotocontainer {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-gap: 10;
}

#shop_product_list .box a {
    display: block;
    height: auto;
}

#shop_product_list .box {
    margin: 0px;
}

#shop_product_list .box img {
    display: block;
    padding-bottom: 10px;
    margin: 0 auto;
}

.galleryphoto {
    width: 300px;
    height: auto;
}

.su-custom-gallery-title {
    display: none;
}

.advancedsearchgallery div {
    height: 30px;
}

#searchbuttons {
    list-style: none;
    width: 100%;
    text-align: center;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#searchbuttons li {
    background: #a2af71;
    padding: 15px;
    float: left;
    border-right: 1px solid #FFFFFF;
}

#searchbuttons li a {
    color: #FFFFFF;
}

.advancedsearchgallery select {
    width: 180px;
}

.search-tool {
    overflow: hidden;
    padding: 15px 0;
}

.search-tool>p {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 300;
}

.search-tool {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 15px 0 5px 0;
}

.g-menu>p {
    font-size: 18px;
    font-weight: 300;
}

.form-field {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 155px;
    position: relative;
}

.s-box.form-field select {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    height: 33px;
    padding: 0 5px;
    width: 100%;
}

.s-box.form-field {
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.form-field.field-btn {
    margin: 0;
    width: 140px;
}

.form-field.field-text>input[type="text"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #dddddd;
    border-radius: 3px;
    height: 35px;
    padding: 0 10px;
    width: 100%;
}

.form-field.field-text>input[type="button"] {
    background: rgba(0, 0, 0, 0) url("../images/b-search-btn.png") no-repeat scroll 0 0;
    border: medium none;
    font-size: 0;
    height: 33px;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    background-position: center center;
}

.form-field.field-btn>input[type=button] {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(223, 223, 223, 0.65) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(223, 223, 223, 0.65)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(223, 223, 223, 0.65) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(223, 223, 223, 0.65) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(223, 223, 223, 0.65) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(223, 223, 223, 0.65) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#a6dfdfdf', GradientType=0);
    border: 1px solid #dddddd;
    border-radius: 3px;
    color: #808080;
    cursor: pointer;
    height: 35px;
    width: 95px;
}

.g-menu li {
    float: left;
    padding: 5px 0;
    width: 33%;
}

.g-menu li a {
    color: #669933;
    font-size: 18px;
    font-weight: 600;
}

.g-menu ul {
    overflow: hidden;
    padding: 20px 0;
}

.gallerypage .page-headpart h2 {
    margin-top: 0px;
}

.gallerypage .page-headpart {
    margin-bottom: 10px;
    width: 270px;
}

.map-sticky {
    position: fixed;
}

#map_list {
    width: 100%;
    height: 270px;
}

.listing-info h3 {
    margin-top: 0px;
}

.marker_info {
    font-size: 12px;
    background: none repeat scroll 0 0 #FFFFFF;
    bottom: 50px;
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 3;
}

.location-description {
    background: url(../images/location-description-bg.png);
    width: 240px;
    text-align: center;
    -webkit-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1);
    width: 240px;
}

.location-title {
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: none;
}

.location-title h2 {
    font-size: 22px;
    color: #2a2a2a;
    text-shadow: 1px 1px 0 #fff;
    border-bottom: 1px solid #e6f4fb;
    padding: 19px 35px;
}

.listing-info {
    margin-bottom: -6px;
    padding: 5px 0 5px 0;
    padding-left: 5px;
    text-align: left;
}

.next.page-numbers {
    float: none;
}

.prev.page-numbers {
    float: none;
}

.next>a {
    padding-left: 30px;
    position: relative;
    color: #000;
    line-height: 20px;
    display: block;
    height: 40px;
    font-family: Crimson Text;
}

.next>a::before {
    background: url("../images/pagination.png") no-repeat scroll 0 0;
    content: "";
    display: block;
    height: 30px;
    left: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    width: 20px;
}

.prev>a {
    height: 40px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    color: #000;
    line-height: 20px;
    font-family: Crimson Text;
    display: block;
}

.prev>a:before {
    background: url("../images/pagination.png") no-repeat scroll;
    content: "";
    display: block;
    height: 30px;
    background-position: right 0;
    right: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    width: 20px;
}

.page-navi {
    overflow: hidden;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    padding: 10px 0;
    margin-top: 30px;
    margin-bottom: 20px;
}

.page-navi .prev {
    float: right;
    width: 40%;
    height: 40px;
}

.page-navi .next {
    float: left;
    width: 40%;
    height: 40px;
}

.page-numbers.current {
    background-color: #d3decb;
    color: #4e7634;
}

.page-numbers.current,
a.page-numbers {
    background-position: -404px 0;
    background-repeat: no-repeat;
    display: inline-block;
    font-size: smaller;
    height: auto;
    margin: 0 1px 6px 0;
    padding: 0.66em 1.5em;
    text-align: center;
    width: auto;
}

a.page-numbers {
    background-color: #d5d5d5;
    color: #888;
}

#pubexchange_rail .pe-wrapper,
.partners-block {
    margin: 0px;
    border: none;
}

#pubexchange_rail .pe-wrapper ul.pe-module li.pe-article .pe-editorial a.pe-headline {
    color: #5A6833!important;
}

table.rm_ads {
    border-spacing: 5px;
    border-collapse: initial;
}

table.rm_ads td {
    background: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 0;
}

table.rm_ads div {
    border: 1px solid rgba(0, 0, 0, 0.25);
}

table.rm_ads_300 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-bottom: 5px;
}

table.rm_ads_300 td {
    padding-bottom: 12px;
}

table.rm_ads_125 {
    padding-top: 17px;
}

table.rm_ads_125 div {
    padding: 3px;
    width: 130px!important;
    height: 130px!important;
}

table.rm_ads_125 tr>:first-child {
    padding-right: 21px!important;
}

table.rm_ads_125 tr td {
    padding-bottom: 15px!important;
}

#RM-300_100 {
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding-bottom: 12px;
    width: 300px;
}

#RM-300_100 div {
    margin-bottom: 10px;
}

#content-grid ul#content-grid-nav-menu li,
#content-grid ul#content-grid-nav-menu-last li {
    width: 154px;
    position: relative;
    z-index: 2;
}

#content-grid ul#content-grid-nav-menu li figure,
#content-grid ul#content-grid-nav-menu-last li figure {
    width: 154px;
}

#content-grid ul#content-grid-nav-menu li img,
#content-grid ul#content-grid-nav-menu-last li img {
    width: 154px;
}

#content-grid ul#content-grid-nav-menu.editors-hub {
    max-width: 850px;
}

#content-grid ul#content-grid-nav-menu li {
    float: left;
    font-family: sans-serif;
    font-size: 0.8em;
    height: 16em;
    line-height: 1em;
    margin: -10px 10px 10px -10px;
    overflow: hidden;
    padding: 10px;
    width: 160px;
}

#content-grid ul#content-grid-nav-menu li img {
    background-color: #eee;
    height: 120px;
    width: 160px;
}

#content-grid ul#content-grid-nav-menu li a {
    color: inherit;
    text-decoration: none;
}

#content-grid ul#content-grid-nav-menu li div.rollover {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    color: #fff;
    height: 124px;
    left: 0;
    line-height: 1.4em;
    padding: 8px 10px;
    position: relative;
    top: -123px;
}

#content-grid ul#content-grid-nav-menu li figcaption {
    left: 0;
    line-height: 1.4em;
    margin: 0px;
    position: relative;
    top: -121px;
}

#content-grid ul#content-grid-nav-menu li figcaption .topic,
#content-grid ul#content-grid-nav-menu li figcaption .author {
    color: #999;
}

#content-grid ul#content-grid-nav-menu li figcaption .price {
    color: #694;
}

#content-grid ul#content-grid-nav-menu li a div.rollover {
    opacity: 0;
}

#content-grid ul#content-grid-nav-menu li a:hover div.rollover {
    opacity: 1;
}

#content-grid ul#content-grid-nav-menu li img,
#content-grid ul#content-grid-nav-menu-last li img {
    width: 154px;
}

#content-grid ul#content-grid-nav-menu li div.rollover {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#content-grid ul#content-grid-nav-menu li div.rollover {
    transition: opacity 0.2s ease-in-out 0s;
}

.page-headpart {
    border-bottom: 4px double #ddd;
    width: 320px;
}

.page-headpart>h2 {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 10px;
}

.tagline {
    padding: 20px 0;
}

.tagline>p {
    font-size: 22px;
    font-weight: 300;
}

.tagline>span {
    color: #8d8d8d;
    font-size: 22px;
    font-weight: 300;
}

.mainpage-con>h3 {
    border-bottom: 4px double #ddd;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 160px;
}

.mainpage-con {
    padding-right: 20px;
}

.mainpage-con>p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 15px;
}

#pb-content-grid-nav-menu {
    list-style: none;
    float: left;
    margin-left: 12px;
}

#pb-content-grid-nav-menu li {
    float: left;
}

#pb-content-grid-nav-menu li .rollover {
    display: none;
    font-size: 14px;
}

#pb-content-grid-nav-menu li.lm {
    margin-left: 35px;
}

.weeksissuerollover {
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Gudea', sans-serif;
    font-size: 16px;
    text-transform: capitalize;
}

.issuepage {
    padding: 0px;
}

.issuepage p {
    margin-top: 10px;
}

.issuepage hr {
    margin-bottom: 2px;
    margin-top: 2px;
    background: #CCCCCC;
}

.su-custom-gallery-slide img {
    max-width: 100%;
    height: auto;
}

.sml_submit {
    border: none!important;
    margin-top: -46px!important;
    position: absolute!important;
    right: 15px!important;
}

.sml_submit .sml_submitbtn {
    /*need to add own image*/


    background: #6d9a0c url("/assets/images/Social_icons/newsletter-arrow.jpg") no-repeat scroll 2px 4px!important;
    border: 0 none!important;
    border-radius: 0!important;
    height: 36px!important;
    position: relative!important;
    right: 0!important;
    width: 32px!important;
    font-size: 0px!important;
}

#join input {
    height: 36px;
}

.nivo-prevNav {
    left: 0px;
}

.theme-light .nivo-directionNav a {
    bottom: 50px;
}

.nivo-caption {
    padding: 50px 65px;
}

.theme-light.slider-wrapper {
    padding: 0px;
}

.theme-light .nivo-caption {
    font-family: 'Gudea', sans-serif;
    font-size: 36px;
    font-weight: bold;
    opacity: 1;
    background: rgba(0, 0, 0, 0.6);
}

.theme-light a.nivo-prevNav {
    left: 20px;
    right: none;
    background: url("../images/slider-left.png") no-repeat scroll 0 0;
}

.theme-light a.nivo-nextNav {
    right: 20px;
    background: url("../images/slider-right.png") no-repeat scroll 0 0;
}

.theme-light .nivo-directionNav a:hover {
    background-color: transparent;
    border-radius: 0px;
}

.theme-light .nivo-controlNav {
    display: none;
}

.firmslisting .title {
    margin-top: 5px;
}

.firmdetailspage .site-main .row {
    margin: 0px;
}

.firmdetailspage .entry-header {
    border-bottom: 4px double #dddddd;
    margin-top: 10px;
}

.firmdetailspage .date {
    margin-top: 10px;
}

.firmdetailspage .entry-title {
    margin-top: 10px;
}

.taxonomyfirms {
    font-family: "Open Sans", sans-serif;
    margin: 5px 0 5px 0!important;
    font-weight: bold;
}

.firmadditional {
    font-family: "Open Sans", sans-serif;
    color: #000000;
}

.dottedfirmline img {
    border-top: 1px dotted #ccc;
    padding-top: 20px;
    margin: 0 auto;
}

.presspage h3 img {
    float: right;
    clear: both;
}

.presspage p {
    clear: both;
}

@media screen and (min-width: 1200px) {
    .inspirationcontent .product {
        clear: none!important;
        width: 174px!important;
        margin: -10px 10px 10px -10px!important;
        height: 16em!important;
    }
}

.port-gal>h2 {
    font-family: Crimson Text;
    font-size: 50px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.about-port>h3 {
    margin: 8px 0 5px 0;
    font-size: 24px;
    font-family: Crimson Text;
}

.port-ser,
.port-ser,
.about-port {
    font-size: 12px;
    line-height: 24px;
}

.about-port span {
    color: #999999;
}

.about-port a {
    color: #a2af71;
}

.about-port,
.port-ser {
    border-bottom: 1px solid #cccccc;
    padding: 0 10px 10px;
}

.port-ser strong {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

.port-social {
    overflow: hidden;
    padding: 10px;
    font-size: 14px;
}

.post-items {
    max-width: 730px;
}

.disqus {
    margin-top: 20px;
}

.port-social .social {
    float: left;
    margin: 5px 0 0;
}

.port-gal {
    margin: auto;
}

.port-slide {
    float: left;
    padding: 0;
}

.port-social>strong {
    float: left;
    width: 100%;
}

.port-social .social ul#social-icons-top {
    margin: 0;
}

.pser>p,
.regions>p {
    margin: 0;
}

.port-data {
    float: left;
    padding: 0;
    width: auto;
    padding-left: 15px;
}

.about-port-aut {
    clear: both;
    padding-top: 5px;
}

.about-port-aut p {
    margin: 15px 0;
}

.port-gallery>h3 {
    color: #a2af71;
    font-family: gudea;
    font-size: 18px;
    margin-bottom: 20px;
}

.port-imgs {
    text-align: center;
}

.port-imgs p {
    text-align: left;
    margin: 15px 0 15px;
}

.port-gal .post-items {
    border-top: 1px solid #cccccc;
    margin-top: 25px;
    width: 740px;
}

.port-gal .more-idea>h3 {
    font-size: 30px;
    letter-spacing: 6px;
}

.port-slide>p {
    margin: 10px 0 0;
    width: 500px;
}

@media only screen and (max-width: 767px) {
    .port-slide {
        max-width: 580px;
    }
    .port-gal>h2 {
        font-size: 32px;
        line-height: normal;
    }
}

.huge-it-share-buttons ul li a[id*='backforunical'] {
    background-image: url('../images/social-icons.png')!important;
    width: 30px;
    height: 30px;
}

#div-gpt-ad-1437091738847-0,
#div-gpt-ad-1437091738847-1 {
    display: inline-block;
    margin: 0!important;
}

#homepageposts div[id*='div-gpt-ad-1437091738847'] {
    display: inline-block;
    margin: 0!important;
}

.inspirationcontent div[id*='div-gpt-ad-1437091738847'] {
    display: inline-block;
    margin: 0!important;
}

.search-results div[id*='div-gpt-ad-1437091738847'] {
    display: inline-block;
    margin: 0!important;
}

#shop_product_list div[id*='div-gpt-ad-1437091738847'] {
    display: inline-block;
    margin: 0!important;
}

.nivoSlider img {
    height: 600px!important;
}

ul.huge-it-share-buttons-list {
    margin-left: -10px!important;
}

.adsthreehundred .col-ad {
    margin-bottom: 10px;
}

.link_thumbnails {
    list-style: none;
    margin: 0 auto;
    width: 75%;
    padding-top: 40px;
    vertical-align: bottom;
}

.link_thumbnails h2,
body.error404 .link_thumbnails a {
    margin: 0;
    color: #222222!important;
    text-decoration: none;
    font-size: 1em;
    font-style: normal;
    font-weight: 300;
    line-height: 1.35em;
    margin-top: 5px;
}

.link_thumbnails li {
    display: block;
    margin: 0;
    padding: 10px 40px 10px 0;
    text-align: center;
    float: left;
}

.imagecache-article_full_width {
    max-width: 100%;
    height: auto;
}

.home .effect8 a {
    display: inline;
}

.home .main-wrapper .horizontal img {
    width: 100%!important;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.map-sticky {
    position: relative;
    top: 0!important;
}

.location-title p {
    text-align: center;
}

.listing-info {
    padding: 0 10px 10px;
}

@media screen and (max-width: 1350px) {
    #social-icons-top {
        margin: 0 0 16px;
    }
    div#div-gpt-ad-1437425174690-0,
    .banner iframe,
    div#sidebar-home iframe {
        width: 100%!important;
        margin: 0!important;
    }
    .container {}
    .main-wrapper .vertical .post-content {
        padding-right: 25px;
    }
    .col-ad-1.adsthreehundred div {
        width: 100%!important;
    }
    .pe-thumb-wrapper a {
        width: 100%!important;
    }
    #sidefooterlinks .sicons a {
        margin-right: 6px;
    }
    img.alignnone {
        display: block;
        width: 100%;
        height: auto;
    }
    .product div.rollover {
        height: 76px;
        top: -76px;
        font-size: 10px;
        line-height: 1em;
    }
    .product .productimg {}
    .row.marginzero {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 991px) {
    .navbar-nav>li>a {
        padding-right: 20px;
    }
    .col-md-10 {
        width: 100%;
    }
    #sidebar-home {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #sidebar-shop .featured_categories ul {
        padding-left: 0px;
        list-style: none;
        margin-left: 0px;
    }
    #bs-example-navbar-collapse-1 .navbar-nav .dropdown:hover>.dropdown-menu {
        display: none!important;
    }
    #sidebar-shop .featured_categories ul li {
        display: inline-block;
        margin: 0;
        background: #F8F8F8;
        margin-bottom: 6px;
        padding: 6px 10px;
        border: 1px solid rgb(230, 230, 230);
    }
    #shop_product_list.inspirationcontent {
        text-align: center;
    }
    .container-fluid.homebg .container {
        padding-left: 0;
        padding-right: 0;
    }
    .main-wrapper .vertical .post-content {
        margin-bottom: 5%;
    }
    .home .effect8 a.title {
        display: block;
        float: left;
    }
    #maincontent .post .post-content h1 {
        clear: both;
    }
    .pull-left {
        clear: both;
    }
    .theme-light .nivo-directionNav a {
        bottom: 85px;
    }
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 767px) {
    .navbar-header {
        height: 147px;
    }
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header,
    .navbar-form {
        margin-right: 0;
        margin-left: 0;
    }
    .navbar-toggle {
        margin-right: 0;
    }
    .navbar-form {
        border-bottom: 0;
        padding-top: 86px;
    }
    .navbar-nav {
        margin: 7.5px 0;
        padding-left: 15px;
    }
    .navbar-default .navbar-toggle {
        margin: 30px 15px 0 0;
    }
    .navbar-nav>li>.dropdown-menu,
    #bs-example-navbar-collapse-1 .navbar-nav .dropdown:hover>.dropdown-menu {
        display: none!important;
    }
    ul#social-icons-top li {
        display: inline-block;
    }
    .nivoSlider img {
        height: auto!important;
    }
    .nivo-caption {
        padding: 20px 60px;
    }
    .theme-light .nivo-caption {
        font-size: 14px;
        height: 79px;
    }
    .theme-light .nivo-directionNav a {
        bottom: 23px;
    }
    div#row_ad_4 div {
        margin: 0!important;
    }
    .row.marginzero {
        margin: 0 0 10px;
    }
    div#sidebar-shop {
        margin: 0 0 15px;
    }
    #maincontent .main-title {
        margin: 0 0 10px;
    }
    #shop_product_list .product {
        width: 100%;
    }
    .product .productimg {
        height: 128px;
        min-height: 85px;
    }
    .product div.rollover {
        height: 120px;
        top: -120px;
        font-size: 12px;
    }
    .port-slide {
        max-width: 100%;
    }
    .port-data {
        padding-left: 0;
    }
    .about-port,
    .port-ser {
        padding: 0;
    }
    .port-social {
        padding: 10px 0;
    }
    .container-fluid {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 480px) {
    .nivoSlider img {
        height: auto!important;
    }
    .navbar-brand {
        width: 270px;
        margin-top: 9px;
        padding: 12px 0 0 15px;
    }
    .navbar-header {
        height: 94px;
    }
    .navbar-default .navbar-toggle {
        position: absolute;
        top: 0;
        right: 0;
    }
    div#row_ad_12 div {
        margin-left: 0!important;
        width: 100%!important;
    }
    .nivo-caption {}
    .theme-light .nivo-caption {
        line-height: 1.3em;
    }
    div#div-gpt-ad-1453929935469-81,
    div#div-gpt-ad-1437091738847-1 {
        margin: 0!important;
    }
    .main-wrapper .vertical .post-content {
        width: 100%;
    }
    .h1,
    h1 {
        font-size: 28px;
    }
}

div[id*='div-gpt-ad-1429294455778'] {
    display: inline-block;
}

.ad-spaces-m {
    display: table;
    margin: 0 auto;
}

.banner {
    display: block;
    margin: 10px;
}

.page a div.rollover {
    opacity: 0;
}

.page a:hover div.rollover {
    opacity: 1;
}

.page div.rollover {
    transition: opacity 0.2s ease-in-out 0s;
}

.issuepage #shop_product_list .product {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.entry-content img {
    width: 100%;
    height: auto;
}

div#shop_product_list a {
    text-decoration: none;
}

h2.mentionedin-a {
    border-top: 1px solid #cccccc;
    display: inline-block;
    width: 100%;
    padding-top: 40px;
    margin-top: 50px;
    letter-spacing: 5px;
    font-size: 24px;
}

.mmt {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
    padding-bottom: 40px;
}

@media (min-width: 1200px) {

    .container-fluid .container {
        width: 990px!important;
        padding: 0 23px;
    }
    .col-md-10 {
        width: 860px!important;
        margin-right: 35px!important;
    }
    .col-md-7 {
       margin-right: 35px!important;
        min-width: 659px!important;
    }
    .sidebar-homess {
        width: 300px!important;
        margin-left: 150px!important;
        padding-top: 20px;
    }

     #sidebar-home {
        width: 300px!important;
            margin-left: 70px!important;
        padding-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    #bs-example-navbar-collapse-1 .navbar-nav a {
        font-size: 85%;
    }
    #social-icons-top {
        padding-bottom: 20px;
    }
    #maincontent {
        width: 100%;
    }
    #sidebar-home {
        width: 300px;
        margin: 0 auto;
    }
    #maincontent .post .post-content h1 {
        font-size: 24px;
        line-height: 30px;
    }
    #maincontent .post .post-content p {
        font-size: 12px;
    }
    #banner125 .col-md-6 {
        float: left;
    }
    #sidebar-home .col-ad-1 {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 480px) {
    .navbar-header .navbar-form {
        display: none;
    }
    .main-wrapper .vertical .post-content {
        padding-left: 10px;
    }
    #maincontent .post .post-content h1 {
        font-size: 20px;
        line-height: 25px;
    }
    #sidebar-home {
        width: 250px;
    }
    #banner125 .col-md-6 {
        width: 45%;
    }
    .navbar-collapse .navbar-nav {
        margin: 7.5px 0px;
    }
}

@media screen and (max-width: 320px) {
    .navbar-brand {
        width: 78%;
    }
    .nivoSlider img {
        height: auto!important;
    }
    .theme-light .nivo-caption {
        font-size: 14px;
    }
    .nivo-caption {
        padding: 0px 64px;
    }
    .theme-light .nivo-directionNav a {
        bottom: 0px;
    }
    .navbar-header .navbar-brand {
        width: 225px;
    }
    .navbar-collapse .navbar-nav {
        margin: 7.5px 0px;
    }
    #social-icons-top li {
        display: inline-block;
    }
    .main-wrapper .vertical {
        display: inline-block;
    }
}

.single-product .col-md-7 {
    width: 58.333333%;
    min-width: 58.333333%;
}

.third-feat a {
    color: #000;
    font-size: 24px;
    font-family: 'Crimson Text', sans-serif;
    text-decoration: none;
    font-weight: bold;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 16px 0;
    text-align: left;
    width: 100%;
    display: block;
    margin: 10px 0;
}

.singleproduct li:before {
    content: "• ";
    color: #A2AF71;
    font-size: 20px;
    top: 4px;
    position: relative;
}

.singleproduct p {
    color: #000000!important;
}

.addtoany_share_save_container.addtoany_content_top {
    display: none;
}

li.pe-article:before {
    color: #fff;
    font-size: 0px;
}

h2.mentionedin-a {
    border-top: 1px solid #cccccc;
    display: inline-block;
    width: 100%;
    padding-top: 40px;
    margin-top: 50px;
    letter-spacing: 5px;
    font-size: 24px;
}

.product a:hover div.rollover {
    opacity: 1;
}

.product a div.rollover {
    opacity: 0;
}

#pubexchange_below .pe-wrapper .pe-title {
    font-size: 24px!important;
    font-family: 'Gudea', sans-serif!important;
    color: #000000!important;
    letter-spacing: 5px;
    padding-top: 17px;
    padding-bottom: 31px;
}

.mmt {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
    padding-bottom: 40px;
}

button.view-hide {
    display: none;
}

@media screen and (max-width: 990px) {
    .vivas,
    .vivas h4 {
        display: none;
    }
    button.view-hide {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        height: 46px;
        background: #f2f2f2;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        color: #999;
        text-align: left;
        font-size: 14px;
    }
    button.view-hide i {
        font-size: 22px;
        color: rgba(51, 51, 51, 0.78);
        float: right;
        padding: 0 5px;
    }
    .row.featured_categories.vivas.non-h h4 {
        display: block;
    }
}

@media screen and (max-width: 990px) {
    .single-product .col-md-7 {
        width: 100%;
        min-width: 100%;
    }
    .product .productimg {
        height: 115px;
        min-height: 125px;
    }
    .product div.rollover {
        height: 121px;
        top: -120px;
        font-size: 10px;
        line-height: 1em;
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    #shop_product_list .product {
        width: 24%;
        padding: 5px;
    }
}

@media screen and (max-width: 570px) {
    #shop_product_list .product {
        width: 32%;
        padding: 10px;
    }
}

@media screen and (max-width: 450px) {
    .inspirationcontent .product {
        clear: none!important;
        width: 49%!important;
        margin: 0!important;
        height: 16em!important;
    }
    #shop_product_list .product {
        width: 49%;
        padding: 10px;
        height: 16em!important;
    }
}

@media screen and (max-width: 450px) {
    .product div.rollover {
        top: -105px;
    }
}





.social_icon_links a{

    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-right: 20px;
        background: #FFFFFF;
    color: #000000!important;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    float: left;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 10px;

}

/*show article bottom menu stylesheet
*/
#pubexchange_below .pe-wrapper {
    clear: both;
}

#pubexchange_below .pe-title {
    padding: 0 0 17px;
    font: 700 1.25em/1.1em "museo-slab", sans-serif;
    text-transform: uppercase;
    color: #222;
    border: 0;
    float: none;
}

#pubexchange_below ul.pe-module {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    max-width: none;
}

#pubexchange_below li.pe-article {
    margin: 0 2% 10px 0px;
    padding: 0;
    overflow: hidden;
    width: 23%;
    display: inline-block!important;
    vertical-align: top;
    font-size: 0;
    float: none;
}

#pubexchange_below li.pe-article:nth-child(4n+4) {
    margin-right: 0;
}

@media only screen and (min-width:0px) {
    #pubexchange_below li.pe-article {
        width: 23.5%;
    }
}

#pubexchange_below .pe-thumb {
    float: left;
    overflow: hidden;
    margin: 0 0 5px 0;
}

#pubexchange_below .pe-thumb img {
    max-width: none;
}

#pubexchange_below .pe-editorial {
    clear: both;
}

#pubexchange_below a.pe-headline {
    display: block;
    font-size: 13px;
    line-height: 1.3;
    margin-bottom: 5px;
}

#pubexchange_below a.pe-partner-name {
    display: block;
    text-decoration: none;
    font-size: 11px;
    line-height: 1.3;
    color: #999;
}

#pubexchange_below .pe-powered-by {
    text-align: right;
    margin-right: 5px;
    color: #333;
    font: 10px/14px Helvetica, Arial, sans-serif;
}

#pubexchange_below .pe-powered-by a {
    text-decoration: none;
    color: #08c;
}

#pubexchange_below .pe-powered-by a:hover {
    text-decoration: underline;
}

@media only screen and (max-width:650px) and (min-width:481px),
(max-width:950px) and (min-width:815px) {
    #pubexchange_below li.pe-article {
        width: 32%;
    }
    #pubexchange_below li.pe-article:nth-child(4n+3) {
        margin-right: 0;
    }
    #pubexchange_below li.pe-article:nth-child(4n+4) {
        display: none!important;
    }
}

@media only screen and (max-width:480px) and (min-width:351px) {
    #pubexchange_below li.pe-article {
        width: 49%;
        margin-right: 2%;
    }
    #pubexchange_below li.pe-article:nth-child(2n+2) {
        margin-right: 0;
    }
}

@media only screen and (max-width:350px) {
    #pubexchange_below li.pe-article {
        width: 100%;
        margin-right: 0;
    }
    #pubexchange_below .pe-thumb {
        width: 100%!important;
        height: auto!important;
        max-height: 130px;
    }
    #pubexchange_below .pe-thumb img {
        width: 100%!important;
        height: auto!important;
        margin: 0!important;
    }
}

/*added inline style
*/
#pubexchange_below {
    margin-top: 20px;
    border-top: 1px solid #cccccc;
    padding-top: 15px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
    clear: both;
}

.exploremore {
    margin-top: 20px;
}

@media only screen and (min-width:992px) {


.home_container #maincontent{
    width: 45%;
    margin-left: 75px;

    }
    #maincontent{
    width: 58%;

    }
}

/*404 error style*/

.404errorMessage   {
    background-color: #f5f5f5;
    text-align: center;
    margin-bottom: -10px;
    font-size: large;
    color: red;
}


@media screen and (max-width:1200px) and (min-width:990px)  {

#sidebar-home {
    margin-left: 75px;
    padding-top: 22px;
}

}


.success {
    background-color: #a2af71;
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

 #author_list {

    background-color: #f5f5f5;
    text-align: -webkit-center;
    margin: 0px;
    padding-top: 10px;

}

.contact_form {

    margin: 40px;
    background-color:  #FF9200;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 2;
    padding: 10px;
}

@media screen and (max-width:1300px) and (min-width:1200px)  {

#searchform,
#social-icons-top {
    margin-right: 115px!important;
    }
}



.pe-article a {
    font-size: 14px;
}

.contact_form input {

    color: black;
}

.messageSentSucces {

        color: white;
    height: 50px;
    width: 100%;
    background-color: #a2af71;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;

    text-align: -webkit-center;
    margin: 0px;
    padding-top: 10px;
}

/*image in article resizing*/

.img_right,.img_left{

    height:250px;
    width:250px;
}