
@import url(http://weloveiconfonts.com/api/?family=zocial);
@import url(http://weloveiconfonts.com/api/?family=brandico);

/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
        box-shadow: 5px -5px 3px 0px rgba(119,133,199,1);
        color: white;

}


/* brandico */
[class*="brandico-"]:before {
    font-family: "brandico", sans-serif;
    box-shadow: 5px -5px 3px 0px rgba(119,133,199,1);
    color: white;
}


.container {
  box-sizing: border-box;
  font: italic bold 30px "Indie Flower", cursive;
  width: 80%;
  height: 80%;
  display: block;
  margin: auto;
  border-style: solid;
  border-radius: 25px;
  box-shadow: 13px -11px 5px 0px rgba(143,136,143,1);

}


.logo {
  width: 100px;
  float: left;
  padding-top: 20px;
}


.names {
  float: right;
}


.main-title {
  font-size: 50px;
  font-weight: bold;
}


.mini-title {
  padding-top: 0px;
  margin-top: 0px;
  float: right;
  font-size: 27px;
  font-style: italic;
}


.break-line {
  color: grey;
  border: 1.5px inset;
}


.redwood {
  width: 100%;
  max-height: 500px;
  padding-top: 10px;
  border-radius: 25px;
}


.featured-work {
  color: grey;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 25px;
  text-align: center;
}


header {
  display: inline;

}


.picture-row {
    height: 200px;
    width: 200px;
    border-radius: 25px;
}


.photos .col-md-3 {
    text-align: center;
    border:medium white;
    margin-bottom: 75px;

}


.row .photos {

    margin-left: 10%;
    margin-right: 10%;

}


figcaption {
  color: red;
  font: italic bold 25px fantasy;
  padding-top: 10px;
  padding-bottom: 20px;
  }


.social-media {
  padding-left: 120px;
  padding-top: 30px;
  vertical-align: center;
  background-color: rgba(0,0,0,0.75);
  box-shadow: 0px -11px 5px 17px rgba(173,114,173,1);
  border-radius: 25px;
  bottom: 0;
  left: 0;
}


p {
  color: white;
}


a:hover,
p:hover {
  cursor: pointer;
  background-color: red;
  text-decoration: underline;
}

@media screen and (max-width: 400px)  {

.social-media {
    float: left;
    padding-right:15px;
  }

}

