
body {
    font-family: 'Open Sans';
    font-size: 11px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    background-color: #0055A4;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
}

::-webkit-scrollbar-button {
    background-color: #0055A4;
    border-radius: 3px;
    border: 1px solid #FFFFFF;
}

::-webkit-scrollbar-corner {
    background-color: #0055A4;
}

#map {

    height: 100%;
    width: 100%;
    position: absolute;
}

/* footer */

.footer1 {
    background-color: #FFFFFF;
    margin: 7px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 7px;
    padding-bottom: 2px;
    min-width: 320px;
    max-width: 90%;
    max-height: 17%;
    overflow: auto;
    border: 1px solid #0055A4;
}

.btn-secundary {
    background-color: lightgreen;
    color: red;
    margin: 3px;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 20px;
    font-weight: lighter;
    border: 1px solid #0055A4;
    min-width: 240px;
    height: 100%;
}
.location {

    text-align: center;
}

.location-list {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    margin-top: 11px;
}

.location-list li {
    margin: 2px;
    margin-left: 15px;
    padding: 4px;
    min-width: 240px;
    height: 30px;
}

/* infowindows */

.infowindows {
    font-size: 11px;
    padding: 0%;
    margin: 0%;
    height: 200px;
    width: 333px;
    overflow: auto;
}

.flickrImg {
    margin: 1px;
}

/* top-navigation */

.hamburger {
    margin-left: 0px;
    margin-right: 9px;
    margin-top: 9px;
}

.navbar-collapse {
    margin: 12px;
    font-size: 11px;
    overflow: hidden;
    background-color: #e7e7e7;
    border-radius: 14px;

}

.navbar-default {
    background-color: lightblue;
    border: 0px;
    margin: 7px;
    border-radius: 7px;
    width: 40%;

}

.search-bar {
    margin: 7px;
    min-width: 200px;
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid #0055A4;
}

.tags {
    margin: 5px;
}


/* media-queries */

@media screen and (min-width: 800px) {
    label {
        font-size: 13px;
        font-weight: 900;
    }

    .infowindows {
        font-size: 13px;
        height: 250px;
        width: 300px;
    }

    .flickrImg {
        max-height: 140px;
        margin: 1px;
    }

}

@media screen (min-width: 400px) and (max-width: 800px) {
    label {
        font-size: 12px;
    }

var mapLat = "54.9637978";
var mapLng = "-1.6254708";

    .infowindows {
        font-size: 12px;
        height: 240px;
        width: 400px;
    }

    .flickrImg {
        max-height: 120px;
        margin: 1px;
    }
}

@media screen and (max-width: 400px) {
    label {
        font-size: 9px;
    }

var mapLat = "54.9637978";
var mapLng = "-1.6254708";

    .infowindows {
        font-size: 11px;
        height: 120px;
        width: 200px;
    }

    .flickrImg {
        max-height: 150px;
        margin: 1px;
    }
}